<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PublishSection" type="e10publish.PublishSection, e10publish"/>
  </configSections>
  <PublishSection
    siteUrl="https://pro6252.edge10online.com"
    targetConnectionString="Server=http://eastusds1.edge10hosted.org;Port=5984;User=admin;Password=4dm1n;DatabaseName=pro6252" />
</configuration>