ul {
    padding: 0;
    outline: none;
    list-style-type: none;
    margin: 0;
}
.referee-list__wrapper {
    position: relative;
    display: inline-block;
}
.dropdown-toggle-a span.username {
    max-width: 99px;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}
.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;        
}    
.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
}
.dropdown-toggle-a .menu-icon {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.dropdown-toggle-a .caret {
    border-top: 4px solid #fff;
    margin-left: 4px;
}	

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

.dropdown-menu {
    min-width: 270px;
    margin: 0;
    max-height: 140px;
    padding: 0;
}
.c-scroll ul li.active a {
    background-color: #428bca;
    color: #fff;
}

.dropdown-toggle-a,
.dropdown-toggle-a:hover,
.dropdown-toggle-a:focus {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: opacity ease .5s;
    transition: opacity ease .5s;
    color: #fff;
    height: 100%;
    background-color: #42a8e1;
    text-decoration: none;
    width: 270px;
}

.c-scroll ul li a {
    display: block;
    padding: 3px 0 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}
.c-scroll ul li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #428bca;
}
.mCSB_inside>.mCSB_container {
    margin-right: 0;
}
.data-player .c-scroll ul {
    float: none;
    min-width: 170px;
}
.data-player .c-scroll ul li {
    padding:0;
}
.referee-list {
    position: relative;
    text-align: center;
}
.referee-link-select {
    cursor: pointer;
}
.referee-link-select span {
    display: inline-block;
    vertical-align: top;
}
.referee-name {
    min-width: 135px;
}
.referee-score {
    min-width: 50px;
}

@media screen and (max-width: 1190px) {

}


